# Logs
logs
*.log

#varant files
.vagrant

# Optional IDE
.idea

#medial filed from django
media

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*.rdb

.DS_Store
*.stackdump
npm-debug.log

client/index.html
bower_components/
node_modules/
dist/