<h1>Создание схемы этажа</h1>
<div class="uploadedform" ng-if="!$ctrl.showForm">
    <div class="category__item_label">Загрузите изображение карты этажа</div>
    <input type="file" nv-file-select="" uploader="$ctrl.uploader"/>
</div>
<div id="container"></div>
<div class="floor-map" ng-if="$ctrl.showForm">
    <form name="floorForm">
        <div class="floorform__item">
            <div class="floor__item_label">Выберите в каком здании находится этаж</div>
            <select name="building" id="buildingId" ng-model="$ctrl.model.building">
                <option ng-repeat="option in $ctrl.buildings" value="{{option.id}}">{{option.name}}</option>
            </select>
        </div>
        <div class="floorform__item">
            <div class="floor__item_label">Этаж</div>
            <input name="number" ng-model="$ctrl.model.number">
        </div>
        <button ng-click="$ctrl.saveScheme()">Сохранить карту</button>
    </form>

    <div class="terminal">
        <div class="terminal__btn_add" ng-click="$ctrl.addTerminal()">
            <button>Добавить терминал</button>
        </div>
        <div class="terminal___coordinates" ng-if="$ctrl.model.terminal">
            Указать координаты терминала
            <select-coordinate-component
                    coordinate="$ctrl.model.terminal.coordinate"
                    name="terminal">
            </select-coordinate-component>
        </div>
    </div>

    <div class="passageway">
        <div class="passageway__btn_add" ng-click="$ctrl.addPassageway()">
            <button>Добавить проход</button>
        </div>
        <div class="passageway___coordinates" ng-if="$ctrl.model.passageway">
            Указать координаты прохода
            <select-coordinate-component
                    coordinate="$ctrl.model.passageway.coordinate"
                    name="passageway">
            </select-coordinate-component>
            <div class="floorform__item">
                <div class="floor__item_label">Выберите здание к которому ведет проход</div>
                <select name="building" id="toBuildingId" ng-model="$ctrl.model.passageway.toBuildingId">
                    <option ng-repeat="option in $ctrl.buildings" value="{{option.id}}">{{option.name}}</option>
                </select>
            </div>
        </div>
    </div>

    Указать вход/выход
    <select-coordinate-component
            coordinate="$ctrl.model.entrance"
            name="entrance">
    </select-coordinate-component>

    <div class="floors">
        <room-form-component ng-repeat="room in $ctrl.model.rooms" room="room"></room-form-component>
        <button ng-click="$ctrl.addRoom()">Добавить комнату</button>
    </div>
</div>

