<h1>Создание схемы улицы</h1>
<div class="uploadedform">
    <div class="category__item_label">Загрузите изображение карты</div>
    <input type="file" nv-file-select="" uploader="$ctrl.uploader" />
</div>
<form name="schemeForm" ng-if="$ctrl.showForm">
     <div class="schemeform__item">
        <div class="category__item_label">Название карты улицы</div>
        <input name="name" ng-model="$ctrl.model.name">
    </div>
    <div class="schemeform__item">
        <div class="category__item_label">Название используемой карты</div>
        <input name="name" ng-model="$ctrl.model.map.name">
    </div>
    <button ng-if="$ctrl.showBtnSetInitialCoordinate" ng-click="$ctrl.getInitialCoordinate()">Укажитье место расположения терминала</button>

    <hr>
    <button ng-click="$ctrl.saveScheme()">Сохранить карту</button>
</form>

<table id="scheme">
    <tbody id="scheme-area">
    </tbody>
</table>
