<div class="scheme-list" ng-if="$ctrl.schemelist">
    <ul>
        <li ng-repeat="scheme in $ctrl.schemelist">
            <a href ui-sref="admin.schemeUpdate({ schemeId: scheme.id })">{{scheme.name}}</a>
        </li>
    </ul>
</div>
<div class="scheme-create" ng-if="!$ctrl.schemelist">
    <h1>Создание схемы улицы</h1>
    <div class="uploadedform" ng-if="!$ctrl.showForm">
        <div class="category__item_label">Загрузите изображение карты</div>
        <input type="file" nv-file-select="" uploader="$ctrl.uploader"/>
    </div>
    <div id="container"></div>
    <div class="scheme" ng-if="$ctrl.showForm">
        <form name="schemeForm">
            <div class="schemeform__item">
                <div class="category__item_label">Название карты улицы</div>
                <input name="name" ng-model="$ctrl.model.name">
            </div>
            <button ng-click="$ctrl.saveScheme()">Сохранить карту</button>
        </form>
        <div class="buildings">
            <building-form-component ng-repeat="building in $ctrl.model.buildings"
                                     building="building"></building-form-component>
            <button ng-click="$ctrl.addBuilding()">Добавить здание</button>
        </div>
    </div>

</div>
