#scheme {
  background-repeat : no-repeat;
}
#scheme-area {
    opacity: 0.6;
}

#scheme-area {
    border-collapse: collapse;
    opacity: 0.6;
}
#scheme-area tr,td {
    border: 1px solid black;
}
#scheme-area td {
  padding: 4px;
}