.sidebar__list {
  margin: 0;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;

  .sidebar__list__item {
    a {
      display: inline-block;
      width: 100%;
      padding: 0 15px;
      text-decoration: none;
      color: #008000;
    }
  }
  .sidebar__list__item.active{
    background-color: #008000;
    border-radius: 0 60px 0 40px;
    a {
      color: #fff;
    }
  }

  .sidebar__sublist {
    margin: 0;
    padding: 0 1px 1px 15px;
    text-align: center;

    font-size: 2.2rem;
    list-style: none;

    .sidebar__sublist__item {
      background-color: #fff;
      a {
        padding: 10px;
        color: #008000;
      }
    }
    .sidebar__sublist__item.active {
      a {
        background-color: green;
        color: #fff;
        border: 1px solid #fff;
      }
    }
  }
}