<form name="buildingForm">
     <div class="schemeform__item">
        <div class="category__item_label">Название здания</div>
        <input name="name" ng-model="$ctrl.building.name">
     </div>
    <div>
        <label for="isPassageway">Проход в здание</label>
        <input type="checkbox" id="isPassageway" ng-model="$ctrl.isPassageway">
        <div ng-if="$ctrl.isPassageway">
            Проход на этаже №:
            <input type="text" ng-model="$ctrl.building.passagewayFloorNumber">
        </div>
    </div>
    Укажите координаты здания
    <select-coordinate-component
        coordinate="$ctrl.building.coordinate"
        name="building"
    </select-coordinate-component>
</form>

