.therapy__content {
    position: relative;
    h1 {
        width: 74%;
        font-size: 2.8rem;
        padding: 0 15px 10px 10px;
        margin-bottom: 10px;
    }
    .therapy__cards {
        .therapy__list {
            display: flex;
            padding: 0;
            margin: 0;

            list-style: none;
            .therapy__list__item {
                align-self: flex-start;
                width: 200px;
                cursor: pointer;
                text-align: center;

                .therapy__list__item_title {
                    font-size: 1.6rem;
                }
            }
        }
    }
    .therapy__subtherapy__content {
        &_movie {
            text-align: center;
        }
    }
}