<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href ui-sref="app.albumList">
        <img alt="Catalog of albums" src="">
      </a>
    </div>
      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li ui-sref-active="active"><a href ui-sref="app.albumList">Album list</a></li>
              <li ui-sref-active="active"><a href ui-sref="app.albumListAdmin">Admin panel</a></li>
          </ul>
      </div>
  </div>
</nav>
