.header {
  display: flex;
  justify-content: space-between;

  .header__logo {
    margin: 15px;
  }

  .header__tel {
    align-self: flex-end;
    margin: 0 15px 15px 0;
    .header__tel__num {
      font-size: 1.5rem;
      font-weight: bold;
      font-style: italic;
      i {
        border-radius: 50%;
        margin-left: 5px;
        padding: 10px;
        background: rgba(0, 128, 0, 1);
        font-size: 2rem;
        color: #fff;
      }
    }
  }
}
