<div class="search" ng-if="!$ctrl.currentFloor">
    <div class="search__input">
        <angucomplete-alt
                id="search"
                placeholder="Поиск комнаты"
                pause="100"
                selected-object="$ctrl.selectedRoom"
                remote-url="http://0.0.0.0:8000/roomlist/?search="
                title-field="name"
                image-field="profilePic"
                minlength="1"
                input-class="form-control form-control-small"/>
    </div>
    <div class="search__btn" ng-click="$ctrl.getPath()"><a href ng-if="$ctrl.selectedRoom">Построить маршрут</a></div>
</div>

<div id="currentFloor" ng-if="$ctrl.currentFloor">
    <h1>Этаж {{$ctrl.currentFloor.number}}</h1>
    <span>Вы находитесь здесь</span>
</div>

<div id="otherFloor" ng-if="$ctrl.otherFloor">
    <h1>Пройдите к выходу и проследуйте на этаж {{$ctrl.otherFloor.number}}</h1>
    <h1>Этаж {{$ctrl.otherFloor.number}}</h1>
</div>

