
<div class="search">
    <div class="search__input">
        <angucomplete-alt
                    id="search"
                    placeholder="Поиск комнаты"
                    pause="100"
                    selected-object="$ctrl.selectedRoom"
                    remote-url="http://0.0.0.0:8000/roomlist/?search="
                    title-field="name"
                    image-field="profilePic"
                    minlength="1"
                    input-class="form-control form-control-small"/>
    </div>
    <div class="search__btn" ng-click="$ctrl.getPath()"><a href ng-if="$ctrl.selectedRoom" >Построить маршрут</a></div>
</div>


