.map {
  .map__navigation {
    display: flex;
    justify-content: space-between;
    .map__navigation__tool{
      font-size: 3rem;
      padding: 20px;
      cursor: pointer;
    }
  }
  #mapContainer {
    h1 {
      text-align: center;
    }
    .map__item {
      display: none;
    }
    .map__item.map__item_active {
      display: block;
    }
  }
}

.preloader {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}