<div class="building-list">
    <h1>Здания</h1>
    <ul>
    <li ng-repeat="building in $ctrl.buildings" class="building-list__item">
        <h4>{{building.name}}</h4>
        <ul class="floor-list">
            <li ng-repeat="floor in building.floors" class="floor-list__item">
                Этаж: {{floor.number}}
                <a href ui-sref="admin.buildingList.floorUpdate({ buildingId: building.id, floorId: floor.id })" class="floor-list__item_edit">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href ng-click="$ctrl.removeFloor(floor, $index, building.id)" class="floor-list__item_delete">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </li>
            <li><a href ui-sref="admin.buildingList.floorCreate({ buildingId: building.id })">+</a></li>
        </ul>
    </li>
    </ul>
</div>