.scheme-terminal, .scheme-building, .scheme-room{
  position: relative;
  .scheme-terminal__dialog, .scheme-building__dialog, .scheme-room__dialog  {
    position: absolute;
    display: none;
  }
}
.scheme-terminal:hover, .scheme-building:hover, .scheme-room:hover {
  .scheme-terminal__dialog, .scheme-building__dialog, .scheme-room__dialog{
    display: block;
  }
}

.scheme-terminal__color {
  background-color: green;
}

.scheme-building__color {
  background-color: blue;
}

.scheme-room__color {
  background-color: skyblue;
}